html, body{
  font-family: Roboto;
}
.title-hr{
  border-style: dashed;
  background-color: #fff;
}
/*menu styles*/ 
.topNav-header{
  position: fixed;
  height:70px;
  width:100%;
  background-color:#000;
  z-index:999;
}

.topnav {
    overflow: hidden;
    background-color: #0000;
    position: relative;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 17px;
    
  }
  
  .topnav a:hover {
    color: #96d101;
    text-decoration-line: none;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      background-color: #97d301;
    }
}
.topNav-Logo{
  position: absolute;
  display: block;
  width:110px;
  padding-top:5px;
  top:0px;

}
/*welcome section*/
.welcome-section{
  background-image:url(../image/intro.jpg);
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  height:700px;
  position:relative;
  top:0px;
  z-index:0;
  text-align:center
}
.welcome-text-container{
 text-align: center;
  color: #ffff;
}
.welcome-title{
  letter-spacing:5px;
  margin-bottom: 2rem;
}

.fucsia{background-color:#ff3eaa!important}
.celeste{background-color:#25a1e7!important}

.welcome-subtitle{
  letter-spacing:5px;
  font-weight:700;
  font-size:3.5rem;
  margin-bottom: 7rem;
}

/*media query para texto responsive*/
@media screen and (max-width: 800px){
  .welcome-title{
  font-size:1.5rem;
  }
  .welcome-subtitle{
  font-size:2.5rem;
  }
  }

  @media screen and (max-width: 700px){
    .welcome-title{
      font-size:1.5rem;
    }
    .welcome-subtitle{
      font-size:2.5rem;
    }
  }
    @media screen and (max-width: 400px){
    .welcome-title{
      font-size:1rem;
    }
    .welcome-subtitle{
      font-size:1.5rem;
    }
  }

.welcome-bnt-container{
  position:relative;
  padding-top:1rem;
  padding-bottom:1rem;
  margin: 25px;

  display:inline-block;
  margin-bottom:1rem;
  color:#fff
}
.welcome-btn-title{
  margin-top:10px;
  font-weight:700;
  font-size:2.5re;
  color: #ffff;
}
.welcome-btn-title:hover{
  color: #000;
}
.welcome-btn-link:hover{
  color: #ffff;
  text-decoration: none;
}
/*tours style*/
.tours-title-hr{
  border-style: dashed;
  background-color: #fff;
}
.tours-text-container{
  color: #ffff;
  background-color: #97d301;
}
.tours-text-information{
  font-size: 1rem;
}
@media screen and (max-width: 942px){
  .tours-text-information{
    font-size:0.9rem;
  }
}
@media screen and (max-width: 798px){
  .tours-text-information{
    font-size:0.7rem;
  }
}

.tours-slider-text{
  position: absolute;
  top: 1%;
  bottom: 1%;
}
.tours-slider-title{
  text-align: center;
  font-size: 4.5rem;
}
.tours-btn-container{
  align-content: center;

}
.tours-btn-title{
  font-size: 1.5rem;
  align-content: center;
  text-decoration: none;
}
.tours-btn-link{
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.tours-btn-link:hover{
  text-decoration: none;
  color: #97d301;
}
/*slider style*/

.w3-content{margin:auto} 
.w3-display-container{position:relative}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-large{font-size:18px!important}
.w3-container,.w3-panel{margin: 25px; padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}
.w3-black{color:#fff!important;background-color:#000!important}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-display-left{position:absolute;top:50%; left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%; right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}


/*bikes section*/

.bikes-section{
  background-image:url(../image/home-bikes.jpg);
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  height:450px;
  position:relative;
  top:0px;
  z-index:0;
  text-align:center
}
.bikes-title{
  color: white;
}
.bikes-btn-title{
  font-size: 1.5rem;
}
.bikes-btn-link{
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.bikes-btn-link:hover{
  text-decoration: none;
  color: #FF3EAA;
}

/*about us section*/
.about-text-container{
  background-color: #000000;
  color: #ffff
}

/*footer*/
.footer{
  background-color: #494949;
}
.footer-icon{
  background-color: #494949;
  width: 50px;
  display: inline-block;
  margin: 5px;
}
.footer-copyright-text{
  text-align: center;
  color: #f2f2f2; 
  font-size: 1rem;
  margin: 0px;
}